<!DOCTYPE html>
<html lang="es">
    <head>
        <title>404</title>
        <meta charset="utf-8"/>
        <link rel="icon" type="png" href="/img/logo404.png">
        <link rel='stylesheet' href='/css/cabecera.css'>

        <%- styles %>
        
    </head>
    <body>
        <header class="cabecera">
            <img src="/img/logo404.png">
        </header>